<tr>
  <td>
    <div class='student'>
      {{>avatar}}
      <a href="{{analytics_url}}">{{name}}</a>
    </div>
  </td>
  <td><div class='page_views' /></td>
  <td><div class='participations' /></td>
  <td><div class='submissions' /></td>
  <td>
    <div class='current_score'>
      {{#if current_score}}
        {{current_score}}%
      {{else}}
        --
      {{/if}}
    </div>
  </td>
</tr>
