{{#if ENV.DRAFT_STATE}}
  <a href="{{link}}" class="button-sidebar-wide">
    <i class="icon-analytics"></i>
    View Course Analytics
  </a>
{{else}}
  <a href="{{link}}" class="btn button-sidebar button-sidebar-wide">
    <i class="icon-analytics"></i>
    View Course Analytics
  </a>
{{/if}}
