<table>
  <tr>
    <td>
      <h4>
        <span class="graph_name">Activity by Date</span>
      </h4>
      <p class="description">
        Each bar represents the number of page views on that day. A blue bar
        indicates that some user took an action within a course on that day.
      </p>
    </td>
    <td><div class="graph" id="participating-date-graph"/></td>
  </tr>
  <tr>
    <td>
      <h4>
        <span class="graph_name">Activity by Category</span>
      </h4>
      <p class="description">
        Each bar represents the number of page views related to that category.
      </p>
    </td>
    <td><div class="graph" id="participating-category-graph"/></td>
  </tr>
  <tr>
    <td>
      <h4>
        <span class="graph_name">Grade Distribution</span>
      </h4>
      <p class="description">
        Distribution of current grades in courses across all students enrolled
        in department courses.
      </p>
    </td>
    <td><div class="graph" id="grade-distribution-graph"/></td>
  </tr>
</table>
