<div class='department_summary'>
  <h1 class='department_name screenreader-only'>
    {{#t}}{{account.name}} Analytics{{/t}}
  </h1>
  <div id='filter_box' />
</div>
<h2 class="screenreader-only">{{t "Summary Statistics"}}</h2>
<div class="department_statistics" />
<h2 class="screenreader-only">{{t "Graphs"}}</h2>
<div class="department_graphs" />
