<a href="{{url}}" class="button button-sidebar button-sidebar-wide">
  <img src="http://www.interactivemarketingtraining.com/images/icon-advanced-web-analytics.gif" style="width: 17px" />
  {{label}}
</a>
