<td style="vertical-align: top">
  <a href="{{url}}" title="{{#t "titles.student_analytics"}}View Student Analytics{{/t}}">
    <img src="http://www.interactivemarketingtraining.com/images/icon-advanced-web-analytics.gif" style="width: 30px" />
  </a>
</td>
