<div class="profile_picture"><img src="{{user.avatar_50}}"/></div>

<h2>{{user.name}}, <a href="{{course.html_url}}">{{course.name}}</a></h2>

<table class="user_summary">
<tr><th>Current Total:</th><td></td></tr>
<tr><th>Status:</th><td></td></tr>
</table>

<table class="user_graphs">
<tr><th>Participating</th><td>Very Active</td><td><div id="participating-graph"/></td></tr>
<tr><th>Responsiveness</th><td>Responsive</td><td><div id="responsiveness-graph"/></td></tr>
<tr><th>Finishing Assignments</th><td>On Time</td><td><div id="assignment-finishing-graph"/></td></tr>
<tr><th>Grades</th><td>Below Average</td><td><div id="grades-graph"/></td></tr>
<tr><th>Outcomes</th><td>Satisfactory</td><td><div id="outcomes-graph"/></td></tr>
</table>
