<%
  js_env :ANALYTICS => {
    'account' => @account_json,
    'filters' => @filters,
    'filter' => @filter || @term.id
  }

  css_bundle :analytics, :plugin => :analytics
  js_bundle :department, :plugin => :analytics

  @body_classes << 'full-width'
  add_crumb @account.name, url_for(@account)
  add_crumb t(:analytics, "Analytics"), analytics_department_path(:account_id => @account.id)
  add_crumb @filter_crumb_name, @filter_crumb_url, :id => "filter_crumb"
%>

<% content_for :page_title do %><%= @title %><% end %>

<%# frame for the top-level view %>
<div id="analytics_body">
  <div id="filter_box"></div>
</div>
