<%
  js_env :ANALYTICS => {
    :course => @course_json,
    :user => @user_json,
    :startDate => @start_date,
    :endDate => @end_date
  }

  add_crumb t(:analytics, "Analytics")
  add_crumb t(:analytics_view, "User in Course")
%>

<% content_for :page_title do %>
  <%= t(:page_title, "Analytics: User in Course") %>
<% end %>


<div id="analytics_body"></div>

<% jammit_css :analytics, :plugin => :analytics %>
<% js_bundle :user_in_course, :plugin => :analytics %>
