a.analytics-grid-button {
  float: right;
  margin-left: 5px;
  margin-bottom: 5px;
  width: 24px;
  height: 24px;
  background: transparent url(/plugins/analytics/images/analytics-icon-24-sprite.png) 0 0 no-repeat;
  text-decoration: none;
  &:hover {
    background-position: 0 -24px;
  }
}

span.analytics-button-icon {
  display: inline-block;
  margin: 0 3px -3px 0 !important;
  height: 16px;
  width: 17px;
  background: transparent url(/plugins/analytics/images/analytics-icon-16-sprite.png) 0 -16px no-repeat;
}
