@import environment.sass

div#analytics_body
  .status_green
    color: #39a12c
    font-weight: bolder

  .status_yellow
    color: #b2a700
    font-weight: bolder

  .status_red
    color: #d61e1c
    font-weight: bolder

  div.user_summary
    padding-bottom: 15px
    img
      float: left
      padding-right: 15px
      padding-bottom: 15px
    h2
      margin-bottom: 5px
    table
      th, td
        margin-bottom: 3px
        font-size: 1.3em
      th
        padding-right: 10px

  table.user_graphs
    width: 100%
    tr
      border-top: 1px solid #eaeaea
    th, td
      padding: 10px 0
      vertical-align: top
    th
      font-size: 1.3em
    tr.description
      border: none
      td
        padding-top: 0
        font-style: italic
        font-size: 90%
        color: #888

.analytics-tooltip
  position: absolute
  z-index: 10
  background-color: black
  border: 1px solid black
  padding: 0.5em
  color: white
  font-family: Arial, Helvetica, sans-serif
  font-size: 12px
  text-align: center
  +border-radius(5px)
  .ui-menu-carat, .ui-menu-carat span
    border-color: black transparent

#grades-graph, #assignment-finishing-graph, #responsiveness-graph, #participating-graph
  position: relative
