@import environment.sass

div#analytics_body
  .status_green
    color: #39a12c
    font-weight: bolder

  .status_yellow
    color: #b2a700
    font-weight: bolder

  .status_red
    color: #d61e1c
    font-weight: bolder

  h2
    margin-bottom: 5px

  div.student_summary
    padding-bottom: 15px
    img
      float: left
      padding-right: 15px
      padding-bottom: 15px
      width: 50px
      max-height: 50px
    table
      th, td
        margin-bottom: 3px
        font-size: 1.3em
      th
        padding-right: 10px

  div.department_summary
    .department_name
      display: inline-block

    #filter_box
      display: inline-block
      position: absolute
      right: 0

      // TODO: the -1000px in the canvas-lms combobox css isn't enough when the
      // window is wide and the combobox is right-aligned
      .ui-combobox .ui-combobox-prev, .ui-combobox .ui-combobox-next
        text-indent: -9999px

  .student_graphs, .course_graphs, .department_graphs
    table
      width: 100%
      tr
        border-top: 1px solid #eaeaea
      td
        padding: 10px 0
        vertical-align: top
        h4
          position: relative
          font-size: 1.3em
          margin-bottom: 0
          padding-right: 150px
          span.qualifier
            padding-left: 1em
            position: absolute
            right: 0
            top: 0
            width: 150px
        p.description
          padding-top: 1em
          font-style: italic
          font-size: 90%
          color: #888
      div.graph
        width: 880px
        margin-left: 20px

  .department_statistics
    border-top: 1px solid #eaeaea
    table
      width: 100%
      margin: 10px 0

      th, td
        width: 11%
        padding: 0 10px
        margin: 10px 0
        vertical-align: top
        border-left: 1px solid #eaeaea

      th:first-child, td:first-child
        border-left: none

      th
        color: #888

      td
        font-size: 1.5em
        color: #444

.analytics-tooltip
  position: absolute
  z-index: 10
  background-color: black
  border: 1px solid black
  padding: 0.5em
  color: white
  font-family: Arial, Helvetica, sans-serif
  font-size: 12px
  text-align: center
  +border-radius(5px)

  &.carat-top, &.carat-bottom
    .ui-menu-carat, .ui-menu-carat span
      border-color: black transparent

  &.carat-left, &.carat-right
    .ui-menu-carat, .ui-menu-carat span
      border-color: transparent black

  &.carat-left
    .ui-menu-carat, .ui-menu-carat span
      top: 50%
      left: -11px
      border-width: 11px 11px 11px 0
      margin-top: -11px
      margin-left: auto

    .ui-menu-carat span
      border-width: 10px 10px 10px 0
      left: 1px
      margin-top: -10px

  &.carat-right
    .ui-menu-carat, .ui-menu-carat span
      top: 50%
      right: -11px
      left: auto
      border-width: 11px 0 11px 11px
      margin-top: -11px
      margin-left: auto

    .ui-menu-carat span
      border-width: 10px 0 10px 10px
      right: 1px
      margin-top: -10px

#grades-graph, #assignment-finishing-graph, #responsiveness-graph,
#participating-graph, #finishing-assignments-graph
  position: relative

#students
  width: 100%

  tr
    border-top: 1px solid #eaeaea
    &:nth-child(odd)
      td
        background: #f9f9f9
    &:hover
      td
        background: #eee

  th, td
    padding: 0

    > div
      margin: 0
      padding: 2px 10px
      height: 30px
      line-height: 30px

  th
    font-size: 17px

  .student
    text-align: left

  .page_views, .participations, .assignments
    text-align: center
    position: relative

    .paper
      display: inline-block
      position: relative
      border-width: 1px
      border-style: solid
      height: 16px
      width: 100px
      margin: 7px 0

      span
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0

  .page_views .paper
    // colors.lightgray
    border-color: #cccccc
    span
      background-color: #cccccc

  .participations .paper
    // colors.blue
    border-color: #29abe1
    span
      background-color: #29abe1

  .assignments .paper
    // colors.lightgray
    border-color: #cccccc
    span.onTime
      // colors.sharpgreen
      background-color: #8cd20d
    span.late
      // colors.sharpyellow
      background-color: #f6bd00
    span.missing
      // colors.sharpred
      background-color: #d21d1a

  .current_score
    text-align: right

  .student
    padding-left: 50px
    position: relative

    .avatar_url
      position: absolute
      top: 2px
      left: 10px
      width: 30px
      max-height: 30px
